
.App {
  min-height: 100vh;
  text-align: center;
  background-color: #16160e;
  background-image: url("../public/background.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  display: block;
}
.Heroes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 16px;
}
#hero {
  background-color: grey;
  border-radius: 25px;
  height: 50px;
  width: 500px;

}
#heroButton {
  width: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 16px;
  height: 100px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
